@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-jp-dynamic-subset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
body,html {
    padding:0px;
    margin:0px;
    font-family: 'NanumSquareRound', "Pretendard Variable";
    font-weight:bold;
    color:#fff;
    background:rgb(0, 0, 0);
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: auto;
    flex-direction: column;
    color:#ffffff;
    font-family: 'NanumSquareRound', "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 750;
    font-size:20px;
    transition:0.4s ease-in-out;
    text-align:center;
    border-radius: 8px;
    top:12px;
    height: auto;
    width: auto;
    left:8px;
    right:8px;
    text-decoration:none;
    padding-bottom:4px;
}
.navinfo{
    margin-left:32px;
    margin-top:4px;
    display:flex;
    flex-direction: row;
}
.navinfo t2{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:12px;
    color:inherit;
    text-decoration:none;
    transition:0.4s ease-in-out;
    padding:5px 8px;
    font-size:16px;
    border-bottom:2px solid transparent;
}
.navinfo t9{
    display: flex;
    justify-content: left;
    align-items: center;
    color: #cafebe;
}
.navinfo t2 a:hover{
    border-bottom:2px solid #fff;
}
.navinfo t1 {
    margin-right:12px;
    color:inherit;
    text-decoration:none;
    transition:0.4s ease-in-out;
    padding:5px 8px;
    border-bottom:2px solid transparent;
    text-decoration:none;
    font-size:20px;
    opacity:100%;
    font-weight:800;
    color:#ffffff;
}
#btnk t3 {
    display:none;
}
.socbtn {
    display: flex;
    justify-content: right;
    align-items: right;
    left:16px;
    right:16px;
    width:100%;
    margin-right:32px;
    color:inherit;
    transition:0.4s ease-in-out;
    opacity:100%;
    color:#ffffff;
}
.socbtn a {
    color:inherit;
    transition:0.4s ease-in-out;
    opacity:100%;
    color:#ffffff;
    margin-left:4px;
}
.navtitle {
    letter-spacing: 0.2em;
    padding-left:32px;
    color:#ffffff;
}
#navb1 {
    display: flex;
    justify-content: left;
    align-items: auto;
    margin-top: 8px;
    margin-left: 32px;
    margin-right: 32px;
    height:2px;
    size:2px;
    border:0px;
    border-radius: 2px;
    background-color:#cafebe;
    opacity:50%;
}
.frame1 {
    flex-direction: row;
}
.nbuttons {
    display: flex;
    justify-content: right;
    align-items: right;
}
#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: wait;
}
#load {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background: #000000 url('./assets/loading.gif') center no-repeat;
    z-index: 999;
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
a, a:link, a:visited, a:focus {
    color:inherit;
    font-weight: 400;
    text-decoration:none;
    transition:0.4s ease-in-out;
    border-bottom:2px solid transparent;
}
#middle {
    height:80vh;
    background:linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,0)),url('./assets/static.png') center center fixed;
    background-size:100% auto;
    background-repeat:no-repeat;
    color:white;
    display:flex;
    justify-content:center;
    flex-direction:column;
    transition:1s ease-in-out;
    padding-top:20vh;
    padding-bottom:40vh;
}
#tagline {
    font-family: 'Pretendard Variable', 'Pretendard JP Variable', 'Pretendard', 'Pretendard JP';
    font-size:50px;
    width:60%;
    margin: 0 auto;
    text-align: center;
}
#tagline k{
    font-family: "Noto Serif JP","Noto Serif KR", "Pretendard JP Variable";
    font-size:50px;
}
#tagline k1{
    font-family: "Noto Serif JP","Noto Serif KR", "Pretendard JP Variable";
    font-size:70px;
    color:#D94925;
}
#tagline k2{
    font-family: "Pretendard Variable";
    font-weight:600;
    font-size:36px;
}
#tagline k5{
    font-family:'NanumSquareRound', "Pretendard Variable";
    font-weight: 300;
    font-size:16px;
}
#portfolio {
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin: 0 auto;
    font-family: 'NanumSquareRound', "Pretendard Variable";
    width:80%;
    padding:2% 10%;
}
#portfolio div h1 {
    margin: 0 auto;
    font-family: 'NanumSquareRound', "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size:40px;
    font-weight:800;
    background-image: linear-gradient(to left, #A1FFB6 0%, #CAFEBE 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
}
#event {
    text-align: center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin: 10px 10px 130px 10px;
    font-family: 'NanumSquareRound', "Pretendard Variable";
    font-size:24px;
}
#event k3{
    font-size:16px;
}
#info {
    text-align: center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin: 10px 10px 130px 10px;
    font-family: 'NanumSquareRound', "Pretendard Variable";
    font-size:24px;
}
#info k3{
    font-size:16px;
}
#socials {
    text-align: center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin: 10px 10px 130px 10px;
    font-family: 'NanumSquareRound';
}
#downloads {
    text-align: center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin: 10px 10px 130px 10px;
    font-family: 'NanumSquareRound';
}
#btnset {
    margin: 10px 10px 80px 10px;
}
#btnset1 {
    margin: 50px 10px 0px 10px;
}
#btnset1 k4{
    font-size: 20px;
    font-weight: 700;
}
#contact {
    font-size:24px;
    text-align: center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    line-height: 3;
    margin: 10px 10px 130px 10px;
    font-family: 'NanumSquareRound', 'Pretendard Variable', 'Pretendard JP Variable', 'Pretendard', 'Pretendard JP';
    font-weight: 700;
}
#discord {
    text-align: center;
    display:flex;
    justify-content:center;
    flex-direction:column;
    position: 50% 0;
    margin: 10px 10px 80px 10px;
    font-family: 'Pretendard Variable', 'Pretendard JP Variable', 'Pretendard', 'Pretendard JP';
    font-weight: 400;
}
#widget1 {
    margin-top: 50px;
}
::placeholder {
    color:#fff;
}
.btn_one {
    color:white;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'NanumSquareRound', 'Pretendard Variable', 'Pretendard JP Variable', 'Pretendard', 'Pretendard JP';
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin:30px 10px;
}
.btn_one:hover {
    background:white;
    cursor:pointer;
    color:#000;
}
.btn_m {
    color:white;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'NanumSquareRound', 'Pretendard Variable', 'Pretendard JP Variable', 'Pretendard', 'Pretendard JP';
    font-weight: bolder;
    background:transparent;
    transition:0.4s ease-in-out;
    margin:15px 10px;
}
.btn_m:hover {
    background:white;
    cursor:pointer;
    color:#000;
}
.project div {
    font-weight:normal;
    margin: 20px 10px 20px 10px;
}
.btn_two {
    color:#000;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'NanumSquareRound', 'Pretendard Variable', 'Pretendard JP Variable', 'Pretendard', 'Pretendard JP';
    font-weight:bold;
    background:#fff;
    transition:0.4s ease-in-out;
    margin:30px 10px;
}
.btn_two:hover {
    background:transparent;
    cursor:pointer;
    color:#fff;
}
#details {
    margin:6vh 0px;
}
.btn_social {
    font-size:18px;
    color:#fff;
    margin:40px 20px;
    padding:15px 18px;
    border-radius:50%;
    background:#000;
    transition:0.4s ease-in-out;
}
.btn_social:hover {
    color:#000;
    background:#fff;
    cursor:pointer;
}
@media (max-width: 1080px){
    .navinfo t2 {
        margin-left:0px;
        font-size:14px;
    }
    #middle {
        width: 100%;
        height: 80vh;
        background-size:cover;
    }
    #tagline {
        width:90%;
        font-size:44px;
    }
    #tagline k {
        width:90%;
        font-size:44px;
    }
    #tagline k1 {
        width:90%;
        font-size:55px;
    }
    #tagline k2 {
        font-size:32px;
    }
    #tagline k5{
        font-size:14px;
    }
}
@media (max-width: 720px){
    .navinfo t2 {
        display:none;
    }
    #middle {
        width: 100%;
        height: 80vh;
        background-size:cover;
    }
    #tagline {
        width:90%;
        font-size:30px;
    }
    #tagline k {
        width:90%;
        font-size:36px;
    }
    #tagline k1 {
        width:90%;
        font-size:44px;
    }
    #tagline k2 {
        font-size:26px;
    }
    #tagline k5{
        font-size:12px;
    }
    .btn_one {
        font-size:14px;
        padding:8px 20px;
    }
    .btn_two {
        font-size:14px;
        padding:8px 20px;
    }
    .btn_social {
        font-size:14px;
        margin:10px;
        padding:10px 11px;
    }
}
@media (max-width: 480px){
    .navinfo t2 {
        display:none;
    }
    .socbtn{
        display:none;
    }
    #middle {
        width: 100%;
        height: 80vh;
        background-size:cover;
    }
    #tagline {
        width:90%;
        font-size:24px;
    }
    #tagline k {
        width:90%;
        font-size:28px;
    }
    #tagline k1 {
        width:90%;
        font-size:36px;
    }
    #tagline k2 {
        font-size:20px;
    }
    #tagline k5{
        font-size:12px;
    }
}
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
}
#footer a {
    font-size:18px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'NanumSquareRound', "Pretendard Variable";
    text-decoration:none;
    font-weight:700;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@-webkit-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
